bin/
gen/
/proguard-project.txt
/assets
/.classpath
/.settings
/project.properties
/.project
*.apk
*.ap_
*.dex
*.class

.idea/
.gradle
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp

build/